insurance-service/obj/insurance-service.csproj.nuget.dgspec.json
insurance-service/obj/Debug/net7.0/project.razor.json
.vscode/tasks.json
insurance-service/obj/insurance-service.csproj.nuget.g.props
insurance-service/obj/insurance-service.csproj.nuget.g.targets
insurance-service/obj/project.assets.json
person-service/obj/Debug/net7.0/person-service.AssemblyInfoInputs.cache
person-service/obj/Debug/net7.0/person-service.assets.cache
person-service/obj/Debug/net7.0/person-service.csproj.AssemblyReference.cache
person-service/obj/Debug/net7.0/person-service.csproj.CopyComplete
person-service/obj/Debug/net7.0/person-service.csproj.CoreCompileInputs.cache
person-service/obj/Debug/net7.0/person-service.csproj.FileListAbsolute.txt
person-service/obj/Debug/net7.0/person-service.dll
person-service/obj/Debug/net7.0/person-service.GeneratedMSBuildEditorConfig.editorconfig
person-service/obj/Debug/net7.0/person-service.genruntimeconfig.cache
person-service/obj/Debug/net7.0/person-service.MvcApplicationPartsAssemblyInfo.cache
person-service/obj/Debug/net7.0/person-service.MvcApplicationPartsAssemblyInfo.cs
.vscode/launch.json
insurance-service/obj/project.nuget.cache
insurance-service/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
insurance-service/obj/Debug/net7.0/insurance-service.AssemblyInfo.cs
insurance-service/obj/Debug/net7.0/insurance-service.AssemblyInfoInputs.cache
insurance-service/obj/Debug/net7.0/insurance-service.assets.cache
insurance-service/obj/Debug/net7.0/insurance-service.csproj.AssemblyReference.cache
insurance-service/obj/Debug/net7.0/insurance-service.GeneratedMSBuildEditorConfig.editorconfig
person-service/bin/Debug/net7.0/appsettings.Development.json
person-service/bin/Debug/net7.0/appsettings.json
person-service/bin/Debug/net7.0/Microsoft.OpenApi.dll
person-service/bin/Debug/net7.0/person-service
person-service/bin/Debug/net7.0/person-service.deps.json
person-service/bin/Debug/net7.0/person-service.dll
person-service/bin/Debug/net7.0/person-service.pdb
person-service/bin/Debug/net7.0/person-service.runtimeconfig.json
person-service/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
person-service/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
person-service/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
person-service/obj/person-service.csproj.nuget.dgspec.json
person-service/obj/person-service.csproj.nuget.g.props
person-service/obj/person-service.csproj.nuget.g.targets
person-service/obj/project.assets.json
person-service/obj/project.nuget.cache
person-service/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
person-service/obj/Debug/net7.0/apphost
person-service/obj/Debug/net7.0/person-service.AssemblyInfo.cs
person-service/obj/Debug/net7.0/person-service.pdb
person-service/obj/Debug/net7.0/project.razor.json
person-service/obj/Debug/net7.0/staticwebassets.build.json
person-service/obj/Debug/net7.0/ref/person-service.dll
person-service/obj/Debug/net7.0/refint/person-service.dll
person-service/obj/Debug/net7.0/staticwebassets/msbuild.build.person-service.props
person-service/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.person-service.props
person-service/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.person-service.props
